


body {
  background-color: #E6E6E6;
  font-family:"PeugeotNew-Regular" ;
  font-size: 80%;

}

@font-face {
  font-family: "PeugeotNew-Black";
   src: url("../font/PeugeotNew-Black.otf") format("truetype");
}

@font-face {
  font-family: "PeugeotNew-Regular";
   src: url("../font/PeugeotNew-Regular.otf") format("truetype");
}

.admin {
  background-color: #fff;
  padding: 50px;
}

h1, h3 {
  font-family: "PeugeotNew-Black";
  color: #162133;
  font-weight: bold;
  text-align: center;
  border-bottom-width: 0.1em;
  padding-bottom: 10px;
}

h1 span {
  border-bottom: solid 3px #8b0000;;
}

/** Page Log-Admin **/ 

.log-box {
  background-color: rgb(214, 214, 214);
  border-radius: 20px;
  padding: 30px;
  margin-top: 25%;
  box-shadow: 0px 0px 5px rgb(236, 236, 236);
}

.log-box h3 {
  color: #162133;

}

.log-box hr {
  border-top: solid 2px #162133;
  width: 50%;
}



.navbar {
  background-color: #162133;
  align-items: start !important;
  height: 100vh;
  
}

.navbar ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.saisie a {
  color: #EBEBEB;
}

.mainPage {
  background-color: rgb(230, 230, 230);;
}










/** USA CAR CONTENT **/



.help-inline {
  color: red;
}


.disconnect {
  background-color: #f55050;;
  padding: 5px 50px;
  text-align: center;
  border-radius: 4px;
}

.back {
  background-color: rgb(76 191 60);
  text-align: center;
  border-radius: 4px;
  padding: 5px 50px;

}



.photo-from-list {
  height: 50px;
  width: 80px;
}


/**Notre selection**/ 

.ourSelectBox img {
  width: 100%;
  height: 210px;
  
}

.ourSelectBox {
  text-align: center;
  margin-bottom :30px;
  
}